body {
    background: #F0F4F8;
    min-height: 100%;
    font-family: "Helvetica Neue",helvetica,arial,sans-serif;
    line-height: 1.4;
}

pre {
    white-space: pre;
    font: 90% "Andale Mono", "Lucida Console", "Bitstream Vera Sans Mono", "Courier New", monospace;
}


#main {
    position: relative;
    max-width: 50%;
    min-height: 100%;
    margin: 5em auto;
    -webkit-perspective: 800;
    -webkit-perspective-origin: 50% 7em; 
    -moz-perspective: 800;
    -moz-perspective-origin: 50% 7em; 
    perspective: 800;
    perspective-origin: 50% 7em; 
}


.tiddler {
    position: absolute;
    top: 0;
    padding: 1em;
    overflow: hidden;
    background: #DCE7F1;
    border-radius: .5em;
    box-shadow: 2px 2px 3px 0 rgba(0, 0, 0, 0.5);
    max-height: 20em;
    min-height: 20em;
    max-width: 100%;
    min-width: 100%;
    overflow-x: scroll;
    overflow-y: scroll;
    -webkit-transform-style: preserve-3d;
    -webkit-transition: -webkit-transform 1s, opacity 1s;
    -moz-transform-style: preserve-3d;
    -moz-transition: -moz-transform 1s, opacity 1s;
    transform-style: preserve-3d;
    transition: transform 1s, opacity 1s;
    border-top: thin solid #ACA7FF;
    border-left: thin solid #ACA7FF;
}

.tiddler a {
    color: #BC4378;
    text-decoration: none;
}

img.icon {
    float: right;
    height: 2em;
    padding-left: .5em;
}

.tcontent img {
    max-width: 100%;
}

.tiddler > h1 {
    font-size: 150%;
}

.tcontent h1 {
    font-size: 125%;
}

.tcontent {
    margin-top: 1em;
}

.tags li {
    display: inline;
    padding-right: 1em;
}

.farleft {
    opacity: 0.5;
    -webkit-transform: rotateY(-30deg) translate3d(-48em, 0, -6em);
    -moz-transform: rotateY(-30deg) translate3d(-48em, 0, -6em);
    transform: rotateY(-30deg) translate3d(-48em, 0, -6em);
}
.left {
    opacity: 0.6;
    -webkit-transform: rotateY(-10deg) translate3d(-24em, 0, -3em);
    -moz-transform: rotateY(-10deg) translate3d(-24em, 0, -3em);
    transform: rotateY(-10deg) translate3d(-24em, 0, -3em);
}

.center {
    opacity: 1.0;
    -webkit-transform: rotateY(0deg);
    -moz-transform: rotateY(0deg);
    transform: rotateY(0deg);
}

.right {
    opacity: 0.6;
    -webkit-transform: rotateY(10deg) translate3d(24em, 0, -3em);
    -moz-transform: rotateY(10deg) translate3d(24em, 0, -3em);
    transform: rotateY(10deg) translate3d(24em, 0, -3em);
}

.farright {
    opacity: 0.5;
    -webkit-transform: rotateY(30deg) translate3d(48em, 0, -6em);
    -moz-transform: rotateY(30deg) translate3d(48em, 0, -6em);
    transform: rotateY(30deg) translate3d(48em, 0, -6em);
}
